KINESIS/1.0/schemas/KinesisProducer1.IN_PORT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.fiorano.com/fesb/KinesisProducer/In"
           xmlns="http://www.fiorano.com/fesb/KinesisProducer/In" elementFormDefault="qualified">
    <xs:element name="KinesisProducerRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Data" type="xs:string"/>
                <xs:element name="PartitionKey" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>